<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>Adminto - Responsive Admin Dashboard Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
<meta content="Coderthemes" name="author" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- App favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">

<!-- dropify -->
<link href="assets/libs/dropify/dropify.min.css" rel="stylesheet" type="text/css" />
	

<!-- App css -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/app.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="Input_active">
	<div class="Input_field_text">
  <h4 class="Input_field_text">Upload Image</h4>
	<p class="Input_field_text paragraph_style">Required size for image is 1024x1024px. <br><br>Min. size: 512x512px<br>Max. size: 1024x1024px</p>
		</div>
  <div class="Input_field_size">
    <input type="file" class="dropify" data-height="300" data-max-width="1025" data-min-width="511" data-max-height="1025" data-min-height="511"/>

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>
  </div>
</div>


<!-- Vendor js --> 
<script src="assets/js/vendor.min.js"></script> 

<!-- dropify js --> 
<script src="assets/libs/dropify/dropify.min.js"></script> 

<!-- form-upload init --> 
<script src="assets/js/pages/form-fileupload.init.js"></script> 

<!-- App js --> 
<script src="assets/js/app.min.js"></script>
</body>
</html>
