<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>Adminto - Responsive Admin Dashboard Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
<meta content="Coderthemes" name="author" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- App favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">

<!-- Plugins css -->
<link href="assets/libs/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
<link href="assets/libs/switchery/switchery.min.css" rel="stylesheet" type="text/css" />
<link href="assets/libs/multiselect/multi-select.css"  rel="stylesheet" type="text/css" />
<link href="assets/libs/select2/select2.min.css" rel="stylesheet" type="text/css" />
<link href="assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
<link href="assets/libs/switchery/switchery.min.css" rel="stylesheet" />
<link href="assets/libs/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
<link href="assets/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">
<link href="assets/libs/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet">
<link href="assets/libs/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

<!-- App css -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="left-side-menu">
  <div class="slimscroll-menu"> 
    
    <div class="user-box text-center"> 
		    <p class="text-muted">Spartan Admin</p>
		<img src="assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-thumbnail avatar-lg">  
      <p class="text-muted">Admin Head</p>
    </div>
    
    <div id="sidebar-menu">
      <ul class="metismenu" id="side-menu">
		 
        <li> <a href="index.html"> <span> Apps </span> </a> </li>
        <li> <a href="typography.html"> <span> Packages </span> </a> </li>
		<li> <a href="typography.html"> <span> Nutrition Plans </span> </a> </li>
        <li> <a href="typography.html"> <span> Training Plans </span> </a> </li>
        <li> <a href="typography.html"> <span> Workouts </span> </a> </li>
        <li> <a href="typography.html"> <span> Exercises </span> </a> </li>
		<li> <a href="typography.html"> <span> Tags </span> </a> </li>
		<li> <a href="typography.html"> <span> Languages </span> </a> </li>
        
      </ul>
    </div>
    <!-- End Sidebar -->
    
    <div class="clearfix"></div>
  </div>
  <!-- Sidebar -left --> 
  
</div>
<div class="rightbar-overlay"></div>

<!-- Vendor js --> 
<script src="assets/js/vendor.min.js"></script> 

<!-- Plugins Js --> 
<script src="assets/libs/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script> 
<script src="assets/libs/switchery/switchery.min.js"></script> 
<script src="assets/libs/multiselect/jquery.multi-select.js"></script> 
<script src="assets/libs/jquery-quicksearch/jquery.quicksearch.min.js"></script> 
<script src="assets/libs/select2/select2.min.js"></script> 
<script src="assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script> 
<script src="assets/libs/jquery-mask-plugin/jquery.mask.min.js"></script> 
<script src="assets/libs/moment/moment.js"></script> 
<script src="assets/libs/bootstrap-timepicker/bootstrap-timepicker.min.js"></script> 
<script src="assets/libs/bootstrap-colorpicker/bootstrap-colorpicker.min.js"></script> 
<script src="assets/libs/bootstrap-datepicker/bootstrap-datepicker.min.js"></script> 
<script src="assets/libs/bootstrap-daterangepicker/daterangepicker.js"></script> 
<script src="assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script> 

<!-- Init js--> 
<script src="assets/js/pages/form-advanced.init.js"></script> 

<!-- App js --> 
<script src="assets/js/app.min.js"></script>
</body>
</html>
