<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>Section Options</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
<meta content="Coderthemes" name="author" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- App favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">

<!-- App css -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/app.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="section_options">
  <div class="section_options_title">
    <h4>New Workout Plan</h4>
    <p>Some ultra super text</p>
  </div>
  <div class="section_options_dropdowns">
    
	  <select class="form-control select2 top-dropdown">
      <option>Version</option>
      <option value="AK">Ver. 1</option>
      <option value="HI">Ver. 2</option>
      <option value="CA">Ver. 3</option>
      <option value="NV">Ver. 4</option>
      <option value="OR">Ver. 5</option>
    </select>
	  <select class="form-control select2 top-dropdown">
      <option>Languages</option>
      <option value="AK">English</option>
      <option value="HI">German</option>
      <option value="CA">Spanish</option>
      <option value="NV">Russian</option>
      <option value="OR">French</option>
    </select>
 
  </div>
</div>
<script src="assets/js/vendor.min.js"></script> 
<!-- App js --> 
<script src="assets/js/app.min.js"></script>
</body>
</html>
